
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@import "@fontsource/quicksand/400.css"; /* Regular */
@import "@fontsource/quicksand/500.css"; /* Medium */
@import "@fontsource/quicksand/700.css"; /* Bold */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
